/* Colors */

:root {
    --dark-color: #2b2d42;
    --light-color: #fefefe;
    --red-color: #d80032;
    --cyan-color: #41ead4;

    --red-hover-color: #be0732;
    --cyan-hover-clor: #6afe31;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 100px;
}

